@use '../../assets/scss/' as *;

.hero__flex {
    height: 100vh;
    display: flex;

    &_header {
        position: fixed;
        top: 0;
        left: 2rem;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for_size(phone) {
            left: 1rem;
        }
    }

    &_data {
        flex: 0 1 75%;
        // background-image: url("../../assets/default.jpg");
        background-size: cover;
        background-position: center;

        &_img {
            width: 100%;
            position: absolute;
            inset: 0;
            height: 100vh;
            object-fit: cover;
        }

        &_title {
            text-shadow: 1px 1px #8f8f8f;
            color: #fff;
            @include fluid-type(320px, 1300px, 24px, 32px);
        }
    }

    &_menu {
        display: none;
    }

    &_form_block {
        flex: 0 1 25%;
        position: relative;
        background-color: #ffffffc2;
        inset: 0;
        padding: 1rem;
        border-radius: 10px 0 0 10px;
        box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 31%) 0px 0px 1px;

        &_title {
            font-weight: 500;
            margin-top: 1.5rem;
        }

        &_footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 4px 0;
            font-size: 13px;
            width: 100%;
            background-color: #fff;
            text-align: center;
            font-weight: 500;
        }
    }

    &_not_found {
        background-image: url("../../assets/not-found.png");
        position: absolute;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    &_input {
        position: relative;

        &_label {
            position: absolute;
            left: 8px;
            top: 50%;
            font-size: 16px;
            padding: 0 4px;
            background: pink;
            white-space: nowrap;
            transform: translate(0, -50%);
            transform-origin: 0 0;
            background: #fff;
            transition: transform 0.2s ease-in;
            font-weight: bold;
            line-height: 1.2;
        }

        &_field {
            border: 1px solid #8f8f8f;
            padding: 12px 8px;
            font-size: 16px;
            border-radius: 4px 0 0 4px;
            border-right: 0;

            &:focus,
            &:not(:placeholder-shown) {
                & + .hero__flex_input_label {
                    transform: translate(0, -150%) scale(0.8);
                    font-size: 15px;
                }
            }
        }
    }

    &_error {
        position: absolute;
        bottom: -22px;
        font-size: 15px;
        color: #d8000c;
        font-weight: 500;
        text-transform: capitalize;
    }

    &_btn {
        height: 44px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8f8f8f;
        border-radius: 0 4px 4px 0;

        i {
            font-size: 16px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.weather__data {
    position: absolute;
    bottom: 6rem;
    left: 1.5rem;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    @include for_size(phone) {
        left: 1rem;
    }

    &_temp {
        background-color: #ffffffc2;
        border-radius: 5px;
        box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 31%) 0px 0px 1px;
        margin-bottom: .5rem;
        
        &:not(:last-child) {
            padding: 1rem;
            margin-right: 1rem;
        }

        &_info {
            @include fluid-type(300px, 1300px, 18px, 24px);
            font-weight: 500;
            text-transform: capitalize;
        }

        &_city {
            @include fluid-type(300px, 1300px, 14px, 18px);
        }

        &__table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;

            &_row {
                &:not(:last-child) {
                    border-bottom: 1px solid #dedede;
                }

                &_data {
                    padding: 0.5rem;
                    color: #454242;
                    display: flex;
                    align-items: center;

                    &_text {
                        @include fluid-type(300px, 1300px, 14px, 16px);
                    }

                    &_info {
                        @include fluid-type(300px, 1300px, 14px, 18px);
                        font-weight: bold;
                        margin-right: 2px;
                    }
                }
            }
        }
    }

    &_wind {
        margin-top: 3rem;
        color: #454242;
        height: calc(100vh - 185px);
        overflow: auto;

        h3 {
            border-bottom: 1px solid #454242;
        }
        &_info {
            margin: 0.5rem 0;

            &_text {
                @include fluid-type(300px, 1300px, 14px, 16px);
            }

            &_title {
                @include fluid-type(300px, 1300px, 16px, 18px);
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .hero__flex_form_block {
        position: fixed;
        width: 250px;
        inset: unset;
        right: -285px;
        bottom: 0;
        top: 0;
        transition: all 0.3s ease-in-out;
    }

    .hero__flex_menu {
        display: block;
        position: absolute;
        right: 2rem;
        background-color: #fff;
        padding: 4px;

        @include for_size(phone) {
            right: 1rem;
        }

        i {
            color: #454242;
            font-size: 20px;
        }
    }
}

.open_sidebar {
    right: 0;
}

.menu_position {
    right: 280px;
}
